<md-dialog class="large-window">
    <md-dialog-content>
        <div>
            <md-tabs class="my-tabs" md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true"
                     md-autoselect="false" md-dynamic-height="true">
                <md-tab>
                    <md-tab-label>Within a pointlayer</md-tab-label>
                    <md-tab-body>
                            <md-content class="md-padding small-padding">
                                <form name="intersect"><h5>Choose which layers you want to intersect and write the name of the new layer</h5>
                                    <div layout layout-sm="column"><br>
                                        <md-select placeholder="Choose a pointlayer" ng-model="polygonlayer" md-on-open="">
                                            <md-option ng-value="layer" ng-click="" ng-repeat="layer in layers | filter: {datatype: 'Point'}"><a>{{layer.layername}}</a></md-option>
                                            <p ng-show="(layers | filter:{datatype: 'Point'}).length == 0"><i>There are no point layers in the database!</i></p>
                                        </md-select>
                                        <md-select placeholder="Choose layer" ng-model="layer" md-on-open="">
                                            <i>Point layers</i>
                                            <md-option ng-value="layer" ng-click="" ng-repeat="layer in layers | filter: {datatype: 'Point'}"><a>{{layer.layername}}</a></md-option>
                                            <p ng-show="(layers | filter:{datatype: 'Point'}).length == 0"><i>There are no active point layers!</i></p>
                                            <i>Line layers</i>
                                            <md-option ng-value="layer" ng-click="" ng-repeat="layer in layers | filter: {datatype: 'Line'}"><a>{{layer.layername}}</a></md-option>
                                            <p ng-show="(layers | filter:{datatype: 'Line'}).length == 0"><i>There are no active line layers!</i></p>
                                            <i>Polygon layers</i>
                                            <md-option ng-value="layer" ng-click="" ng-repeat="layer in layers | filter: {datatype: 'Polygon'}"><a>{{layer.layername}}</a></md-option>
                                            <p ng-show="(layers | filter:{datatype: 'Polygon'}).length == 0"><i>There are no active polygon layers!</i></p>
                                            <i>Multi layers</i>
                                            <md-option ng-value="layer" ng-click="getLayerInfo(layer)" ng-repeat="layer in layers | filter: {datatype: 'Multi', layername: '!Union'}"><a>{{layer.layername}}</a></md-option>
                                            <p ng-show="(layers | filter:{datatype: 'Multi'}).length == 0"><i>There are no layers with multipe geometries in the database!</i></p>
                                            <i>Unified layers</i>
                                            <md-option ng-value="layer" ng-click="getLayerInfo(layer)" ng-repeat="layer in layers | filter: {layername: 'Union'}"><a>{{layer.layername}}</a></md-option>
                                            <p ng-show="(layers | filter:{layername: 'Union'}).length == 0"><i>There are no unified layers!</i></p>
                                        </md-select>
                                        <md-input-container class="small-margin-left zero-margin-bottom">
                                            <label>New layername</label>
                                            <input ng-model="layername">
                                        </md-input-container>
                                    </div>
                                    <div class="md-dialog-actions" layout="row"><span flex></span>
                                        <md-button ng-click="cancel()"> Cancel</md-button>
                                        <md-button ng-click="answer(0)" class="md-primary">Create within layer</md-button>
                                    </div>
                                </form>
                            </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Within a linelayer</md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding small-padding">
                            <form name="intersect"><h5>Choose which layers you want to intersect and write the name of the new layer</h5>
                                <div layout layout-sm="column"><br>
                                    <md-select placeholder="Choose a linelayer" ng-model="polygonlayer" md-on-open="">
                                        <md-option ng-value="layer" ng-click="" ng-repeat="layer in layers | filter: {datatype: 'Line'}"><a>{{layer.layername}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Line'}).length == 0"><i>There are no linelayers in the database!</i></p>
                                    </md-select>
                                    <md-select placeholder="Choose layer" ng-model="layer" md-on-open="">
                                        <i>Point layers</i>
                                        <md-option ng-value="layer" ng-click="" ng-repeat="layer in layers | filter: {datatype: 'Point'}"><a>{{layer.layername}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Point'}).length == 0"><i>There are no active point layers!</i></p>
                                        <i>Line layers</i>
                                        <md-option ng-value="layer" ng-click="" ng-repeat="layer in layers | filter: {datatype: 'Line'}"><a>{{layer.layername}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Line'}).length == 0"><i>There are no active line layers!</i></p>
                                        <i>Polygon layers</i>
                                        <md-option ng-value="layer" ng-click="" ng-repeat="layer in layers | filter: {datatype: 'Polygon'}"><a>{{layer.layername}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Polygon'}).length == 0"><i>There are no active polygon layers!</i></p>
                                        <i>Multi layers</i>
                                        <md-option ng-value="layer" ng-click="getLayerInfo(layer)" ng-repeat="layer in layers | filter: {datatype: 'Multi', layername: '!Union'}"><a>{{layer.layername}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Multi'}).length == 0"><i>There are no layers with multipe geometries in the database!</i></p>
                                        <i>Unified layers</i>
                                        <md-option ng-value="layer" ng-click="getLayerInfo(layer)" ng-repeat="layer in layers | filter: {layername: 'Union'}"><a>{{layer.layername}}</a></md-option>
                                        <p ng-show="(layers | filter:{layername: 'Union'}).length == 0"><i>There are no unified layers!</i></p>
                                    </md-select>
                                    <md-input-container class="small-margin-left zero-margin-bottom">
                                        <label>New layername</label>
                                        <input ng-model="layername">
                                    </md-input-container>
                                </div>
                                <div class="md-dialog-actions" layout="row"><span flex></span>
                                    <md-button ng-click="cancel()"> Cancel</md-button>
                                    <md-button ng-click="answer(0)" class="md-primary">Create within layer</md-button>
                                </div>
                            </form>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Within a Polygonlayer</md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding small-padding">
                            <form name="intersect"><h5>Choose which layers you want to intersect and write a name for the new layer</h5>
                                <div layout layout-sm="column">
                                    <md-select placeholder="Choose a polygonlayer" ng-model="polygonlayer" md-on-open="">
                                        <md-option ng-value="polygonlayer" ng-repeat="polygonlayer in layers | filter: {layername: 'buff'}:false"><a>{{polygonlayer.layername}}</a></md-option>
                                        <p ng-show="(polygonlayers | filter: {name: 'buff'}:false).length == 0"><i>There are no buffer layers available!</i></p>
                                        <md-option ng-value="layer" ng-click="" ng-repeat="layer in layers | filter: {datatype: 'Polygon'}"><a>{{layer.layername}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Polygon'}).length == 0"><i>There are no polygon layers in the database!</i></p>
                                    </md-select>
                                    <md-select placeholder="Choose a layer" ng-model="layer" md-on-open="">
                                        <i>Point layers</i>
                                        <md-option ng-value="layer" ng-click="" ng-repeat="layer in layers | filter: {datatype: 'Point'}"><a>{{layer.layername}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Point'}).length == 0"><i>There are no point layers in the database!</i></p>
                                        <i>Line layers</i>
                                        <md-option ng-value="layer" ng-click="" ng-repeat="layer in layers | filter: {datatype: 'Line'}"><a>{{layer.layername}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Line'}).length == 0"><i>There are no line layers in the database!</i></p>
                                        <i>Polygon layers</i>
                                        <md-option ng-value="layer" ng-click="" ng-repeat="layer in layers | filter: {datatype: 'Polygon'}"><a>{{layer.layername}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Polygon'}).length == 0"><i>There are no polygon layers in the database!</i></p>
                                        <i>Multi layers</i>
                                        <md-option ng-value="layer" ng-click="getLayerInfo(layer)" ng-repeat="layer in layers | filter: {datatype: 'Multi', layername: '!Union'}"><a>{{layer.layername}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Multi'}).length == 0"><i>There are no layers with multipe geometries in the database!</i></p>
                                        <i>Unified layers</i>
                                        <md-option ng-value="layer" ng-click="getLayerInfo(layer)" ng-repeat="layer in layers | filter: {layername: 'Union'}"><a>{{layer.layername}}</a></md-option>
                                        <p ng-show="(layers | filter:{layername: 'Union'}).length == 0"><i>There are no unified layers!</i></p>
                                    </md-select>
                                    <md-input-container class="small-margin-left zero-margin-bottom">
                                        <label>New layername</label>
                                        <input ng-model="layername">
                                    </md-input-container>
                                </div>
                                <div class="md-dialog-actions" layout="row"><span flex></span>
                                    <md-button ng-click="cancel()"> Cancel</md-button>
                                    <md-button ng-click="answer(1)" class="md-primary">Create layer</md-button>
                                </div>
                            </form>
                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>
    </md-dialog-content>
</md-dialog>
