<md-dialog style="min-width: 500px;">
    <md-dialog-content>
        <div>
            <md-tabs class="my-tabs" md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true"
                     md-autoselect="false" md-dynamic-height="true">
                <md-tab>
                    <md-tab-label>Within a city</md-tab-label>
                    <md-tab-body>
                            <md-content class="md-padding">
                                <form name="intersect"><h5>Choose which city and layer you want to intersect</h5>
                                    <div layout layout-sm="column"><br>
                                        <md-select placeholder="Choose city" ng-model="name" md-on-open=""
                                                   style="margin-right: 5%;">
                                            <md-option ng-value="name" ng-repeat="name in names | filter:query | orderBy:name"><a>{{name}}</a></md-option>
                                        </md-select>
                                        <md-select placeholder="Choose layer" ng-model="layer" md-on-open="">
                                            <i>Point layers</i>
                                            <md-option ng-value="layer" ng-click="getLayerInfo(layer)" ng-repeat="layer in layers | filter: {datatype: 'Point'}"><a>{{layer.name}}</a></md-option>
                                            <p ng-show="(layers | filter:{datatype: 'Point'}).length == 0"><i>There are no active point layers!</i></p>
                                            <i>Line layers</i>
                                            <md-option ng-value="layer" ng-click="getLayerInfo(layer)" ng-repeat="layer in layers | filter: {datatype: 'Line'}"><a>{{layer.name}}</a></md-option>
                                            <p ng-show="(layers | filter:{datatype: 'Line'}).length == 0"><i>There are no active line layers!</i></p>
                                            <i>Polygon layers</i>
                                            <md-option ng-value="layer" ng-click="getLayerInfo(layer)" ng-repeat="layer in layers | filter: {datatype: 'Polygon'}"><a>{{layer.name}}</a></md-option>
                                            <p ng-show="(layers | filter:{datatype: 'Polygon'}).length == 0"><i>There are no active polygon layers!</i></p>
                                        </md-select>
                                    </div>
                                </form>
                            </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Withing a bufferlayer</md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <form name="intersect"><h5>Choose which layers you want to intersect</h5>
                                <div layout layout-sm="column"><br>
                                    <md-select placeholder="Choose a bufferlayer" ng-model="polygonlayer" md-on-open=""
                                               style="margin-right: 5%;">
                                        <md-option ng-value="polygonlayer" ng-repeat="polygonlayer in polygonlayers | filter: {name: 'buff'}:false"><a>{{polygonlayer.name}}</a></md-option>
                                        <p ng-show="(polygonlayers | filter: {name: 'buff'}:false).length == 0"><i>There are no buffer layer available!</i></p>
                                    </md-select>
                                    <md-select placeholder="Choose a layer" ng-model="layer" md-on-open="">
                                        <i>Point layers</i>
                                        <md-option ng-value="layer" ng-click="getLayerInfo(layer)" ng-repeat="layer in layers | filter: {datatype: 'Point'}"><a>{{layer.name}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Point'}).length == 0"><i>There are no point layers in the database!</i></p>
                                        <i>Line layers</i>
                                        <md-option ng-value="layer" ng-click="getLayerInfo(layer)" ng-repeat="layer in layers | filter: {datatype: 'Line'}"><a>{{layer.name}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Line'}).length == 0"><i>There are no line layers in the database!</i></p>
                                        <i>Polygon layers</i>
                                        <md-option ng-value="layer" ng-click="getLayerInfo(layer)" ng-repeat="layer in layers | filter: {datatype: 'Polygon'}"><a>{{layer.name}}</a></md-option>
                                        <p ng-show="(layers | filter:{datatype: 'Polygon'}).length == 0"><i>There are no polygon layers in the database!</i></p>
                                    </md-select>
                                </div>
                            </form>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Within a polygonlayer</md-tab-label>
                    <md-tab-body>
                        <div class="min-540">
                            <md-input-container>
                                <label>Test input</label>
                                <input type="text" name="myTestField">
                            </md-input-container>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <span flex></span>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="answer(hei)" class="md-primary">Find intersection</md-button>
    </md-dialog-actions>
</md-dialog>
