<div>
    <div class="row">
        <div class="col-xs-2 backArrow">
            <a ng-href="#/back" style="color: darkgreen"><i class="fa fa-arrow-left fa-3x"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div id="map" class="map"></div>
        </div>
        <div class="col-xs-4">
            <div class="list-group">
                <span href="#" class="list-group-item">Draw on map</span>
                <form class="form-inline">
                    <label>Geometri-type</label>
                    <select id="type" ng-model="interactionType">
                        <option ng-repeat="type in interactionTypes">{{type}}</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>