body
  padding: 0px
  padding-top: 20px
  background: linear-gradient(to left, lightgrey, #c26cfd)

a
  color: #00B7FF


.map
  height: 80%
  width: 100%

.backArrow
  padding-left: -2px

.frontheader
  padding-left: 5%
  padding-right: 0px

.container-fluid .navbar-header
    margin-right: 5%
    margin-bottom: 5px

    color: white

.navbar-nav
    margin-top: 2px
    margin-right: -15px
    margin-bottom: 7.5px
    margin-left: -15px

.ol-zoom-in
  margin-left: 10px


$bgDefault      : #c26cfd
$bgHighlight    : #68fd5c
$colDefault     : #ecf0f1
$colHighlight   : #ecdbff
$dropDown       : false

.navbar-default
  background: linear-gradient(to left, lightgrey, $bgDefault)
  background-color:  $bgDefault
  border-width: 0px
  .navbar-brand
    color: $colDefault
    &:hover, &:focus
      color: $colHighlight
  .navbar-text
    color: $colDefault
  .navbar-nav
    > li
      > a
        color: $colDefault
        &:hover, &:focus
          color: $bgHighlight
  .navbar-toggle
    border-color: $bgHighlight
    &:hover, &:focus
      background-color: $bgHighlight
    .icon-bar
      background-color: $colDefault
  .navbar-collapse,
  .navbar-form
    border-color: $colDefault
  .navbar-link
    color: $colDefault
    &:hover
      color: $bgHighlight
@media (max-width: 767px)
  .navbar-default .navbar-nav .open .dropdown-menu
    > li > a
      color: $colDefault
      &:hover, &:focus
        color: $bgHighlight
    > .active
      > a, > a:hover, > a:focus
        color: white
        background-color: $bgHighlight