[ng-click]:hover {
  cursor: pointer; }

md-content.md-default-theme {
  background-color: #eee; }

.drop-box {
  width: 250px;
  height: 100px;
  background: #abfd81;
  margin: 20px;
  border: 5px dashed gray;
  -webkit-box-shadow: 0 2px 2px rgba(1, 0, 0, 0.075) inset;
  -moz-box-shadow: 0 2px 2px rgba(1, 0, 0, 0.075) inset;
  box-shadow: 0 2px 2px rgba(1, 0, 0, 0.075) inset; }

.marginleftsmall {
  margin-left: 10%; }

.dragover {
  border: 5px dashed green; }

.leaflet-top {
  z-index: 0; }

.md-select-menu .md-content {
  overflow-y: scroll !important; }

.editicon {
  padding-left: 5%; }

.md-button.md-small {
  min-width: 1%; }

.md-margin-right {
  margin-right: 22%; }

.md-margin-left {
  margin-left: 27%; }

.small-margin-bottom {
  margin-bottom: 6%; }

.md-color {
  color: rgba(0, 0, 0, 0.26); }

.md-small-padding-right {
  padding-right: 4.5%; }

.small-padding-left {
  padding-left: 4%; }

.medium-padding-left {
  padding-left: 15%; }

.large-window {
  min-width: 30%; }

.medium-window {
  min-width: 20%; }

.small-padding {
  padding: 3%; }

.medium-padding {
  padding: 6%; }

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 400px; }

md-sidenav > md-toolbar {
  padding: 15px;
  height: 150px;
  max-height: 150px; }

md-sidenav md-list-item.md-2-line .md-list-item-text {
  padding-top: 14px;
  padding-bottom: 12px; }

md-sidenav md-divider {
  margin-top: 4px;
  margin-bottom: 4px; }

md-sidenav md-icon {
  fill: #737373;
  position: relative; }

md-sidenav .md-avatar {
  height: 64px;
  width: 64px; }

/* More closely matches https://www.google.com/design/spec/components/lists.html#lists-specs */
md-list-item.md-3-line md-divider[md-inset] {
  left: 70px; }

md-button:not([disabled]):hover {
  background-color: transparent; }

button {
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: transparent;
  color: rgba(0, 0, 0, 0.73);
  cursor: pointer;
  display: inline-block;
  line-height: 48px;
  padding: 2px 6px;
  position: relative;
  text-align: left;
  text-shadow: none;
  z-index: 1; }
  button:focus {
    background: rgba(0, 0, 0, 0.1); }
  button:hover {
    background: rgba(0, 0, 0, 0.1); }

.md-avatar > svg {
  border-radius: 50%; }

/* fade animation */
.animate-show {
  transition: 0.9s ease-out opacity;
  opacity: 1; }
  .animate-show.ng-hide {
    height: 0;
    min-height: 0;
    opacity: 0;
    overflow: hidden; }

.spinners {
  margin: 60px auto; }
  .spinners .row {
    height: 50px;
    padding: 10px 0; }

/* ============================ */
/* SPINNER GENERAL              */
/* ============================ */
.spinner, .spinner:before, .spinner:after {
  width: 4px;
  height: 20px;
  background-color: #00B285;
  border-radius: 2px; }

.spinner {
  display: inline-block;
  position: relative; }
  .spinner:before, .spinner:after {
    content: "";
    position: absolute;
    display: block;
    top: 0px; }
  .spinner:before {
    left: -6px; }
  .spinner:after {
    left: 6px; }

/* ============================ */
/* SPINNER BOUNCE MIDDLE        */
/* ============================ */
@keyframes bounce-middle {
  0% {
    height: 4px;
    margin-top: 8px;
    margin-bottom: 8px; }
  50% {
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px; }
  100% {
    height: 4px;
    margin-top: 8px;
    margin-bottom: 8px; } }

.spinner-bounce-middle {
  animation: bounce-middle 0.6s ease 0.1s infinite; }
  .spinner-bounce-middle:before, .spinner-bounce-middle:after {
    top: 50%;
    transform: translateY(-10px) translateZ(0); }
  .spinner-bounce-middle:before {
    animation: bounce-middle 0.6s ease 0s infinite; }
  .spinner-bounce-middle:after {
    animation: bounce-middle 0.6s ease 0.2s infinite; }

.success-message {
  text-align: center;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.success-message__icon {
  max-width: 75px; }

.success-message__title {
  color: #3DC480;
  transform: translateY(25px);
  opacity: 0;
  transition: all 200ms ease; }
  .active .success-message__title {
    transform: translateY(0);
    opacity: 1; }

.success-message__content {
  color: #B8BABB;
  transform: translateY(25px);
  opacity: 0;
  transition: all 200ms ease;
  transition-delay: 50ms; }
  .active .success-message__content {
    transform: translateY(0);
    opacity: 1; }

.icon-checkmark circle {
  fill: #3DC480;
  transform-origin: 50% 50%;
  transform: scale(0);
  transition: transform 200ms cubic-bezier(0.22, 0.96, 0.38, 0.98); }

.icon-checkmark path {
  transition: stroke-dashoffset 350ms ease;
  transition-delay: 100ms; }

.active .icon-checkmark circle {
  transform: scale(1); }

/*# sourceMappingURL=style.css.map */